@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-gray-100 antialiased;
  }
}

@layer components {
  .glass {
    @apply bg-surface/50 backdrop-blur-xl border border-white/5 rounded-2xl;
  }
}